.dv-main_detalle{
    margin: 10px;
}

.dv-titulo_detalle > h1{
    text-align: center;
}

.dv-poster_detalle > img {
    width:100%;
    object-fit: contain;
}

.dv-datos_detalle{
    display: flex;
    justify-content: space-evenly;
}

.dv-datos_detalle > div{
    flex-basis: 33%;
    padding: 10px;
}

.dv-general_detalle{
    display: flex;
    justify-content: space-evenly;
}

.dv-general_detalle > *{
    flex-basis: 25%;
}

.dv-button_detalle > button{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}